{% extends 'layout/layout.html' %}
{% block content %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Author</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
        </tr>
    </thead>
    <tbody>
        {% for board in boards %}
        <tr>
            <th scope="row"><a href="{% url 'board_read_one' board.pk %}">{{ board.pk }}</a></th>
            <td>{{ board.author.username }}</td>
            <td>{{ board.title }}</td>
            <td>{{ board.content }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<br>
<a href= "{% url 'board_create' %}" class="btn btn-outline-success my-2 my-sm-0" type="submit">Create</a>
{% endblock %}